.App {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.layout {
  display : flex;
  flex-direction: column;
}

.column-1 {
  width : 100%;
}

.column-2 {
  width : 100%;
}


@media screen and (min-width : 1000px) {
  .layout {
    display : flex;
    flex-direction: row;
  }

  .column-1 {
    width : 50%;
  }

  .column-2 {
    width : 50%;
  }
}
